<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Access Denied</title>
</head>
<body>
  <h1>Nikhilesh Denied your Access :/</h1>
  <br><a href="/">Go To Login</a>
  <style>
    h1,a
    {
      color:green;
      font-size: 5vw;
      display: inline;
    }
    body
    {
      height: 100vh;
      width:100vw;
      background-color: black;
    }
  </style>
</body>
</html>