<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astrodude Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  
  <form action="/" method="post">
    <label for="username"></label>
    <input type="text" id="username" name="username" placeholder="Username">

    <label for="password"></label>
    <input type="password" id="password" name="password" placeholder="Password">

    <button type="submit">LOGIN</button>
  </form>

  <video autoplay muted loop id="video-background">
    <source src="/images/background_video.mp4" type="video/mp4">
  </video>

</body>
</html>