<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrodude's Panel</title>
</head>

<body>
    <div>
        <h1>Password Generator</h1>
    </div>
<div class="container"> 
    <input type="text" id="myInput" placeholder="Range Between 3-12">
    <button onclick="getValue()">Get My Password</button>
    <div id="h2"></div>
</div>

    <script>
        function getValue() {
            let input = document.getElementById("myInput");
        console.log(input.value);

            const passgen = Math.random().toString(36).substring(2,input.value);
            const passgendoc = document.getElementById("h2");
            passgendoc.innerHTML = passgen;
        }
    </script>

    <style>
        *
        {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }

        body
        {
            background-image: url(/images/image.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            background-position: 100%;
            height: 100vh;
            
        }
        div
        {
            text-align: center;
        }

        h1
        {
            color: white;
            display: inline;
            padding-right:10px ;
            padding-left:10px ;
            border-radius: 10px;
            background:linear-gradient(90DEG, rgb(156, 60, 60), rgb(3, 3, 47));
        }

        .container
        {
            height: 50vh;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            margin: 0 auto;
            text-align: center;
            width: 90vw;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            margin-top: 10vh;
            border-radius: 30px;
            backdrop-filter:blur(10px);
        }

        .container>input
        {
            height: 30%;
            text-align: center;
            font-size: xx-large;
            background: transparent;
            border: 0px;
        }

        .container>button
        {
            height: 20%;
            backdrop-filter: blur(12px);
            background: transparent;
            border: 0px;
            font-size: xx-large;
            font-weight: 800;
            color: rgb(130, 30, 30);
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }

        .container>div
        {
            height: 20%;
            color: white;
            font-weight: 800;
            font-size: xx-large;
        }
    </style>

</body>

</html>